* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 375px;
}

.container {
  max-width: 1230px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header__top-logo {
  text-decoration: none;
  font-weight: 800;
  font-size: 22px;
  line-height: 25px;
  color: #3E416D;
}

.header__top-logo:hover {
  color: #8482FF;
}

.header__top-logo-color {
  color: #8482FF;
}

.header__top-menu-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3E416D;
  padding: 0 15px;
}

.header__top-menu-link:hover {
  color: #8482FF;
  text-decoration: underline;
}

.header__top-basket {
  text-decoration: none;
}

.header__top-basket:hover .header__top-basket-svg path {
  fill: #8482FF;
}

@media (max-width: 900px) {
  .header__top {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .header__top-menu {
    grid-column: 1 / 3;
    grid-row: 2 / -1;
    text-align: center;
    padding-top: 30px;
  }
  .header__top-basket {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
    padding-right: 10px;
  }
}

@media (max-width: 700px) {
  .header__top-menu {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
}

@media (max-width: 390px) {
  .header__top-menu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
  }
  .header__top-menu-link {
    font-size: 22px;
    margin: 15px 0;
  }
}

.main__intro {
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

.main__intro::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.main__intro-background {
  position: relative;
  padding-bottom: 46.1%;
  z-index: 1;
}

.main__intro-background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.main__intro-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 50px;
}

.main__intro-content-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  margin: 0 auto;
  color: #FFFFFF;
  max-width: 780px;
}

.main__intro-content-title.mobile {
  display: none;
}

.main__intro-content-btn {
  text-align: center;
}

.main__intro-content-btn-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: transparent;
  border-radius: 4px;
  padding: 15px 23px;
  margin: 0 15px;
  border: 2px solid #FFFFFF;
}

.main__intro-content-btn-link.general {
  background: #8482FF;
}

.main__intro-content-btn-link.general:hover {
  background-color: #615efd;
}

.main__intro-content-btn-link:hover {
  background: #8482FF;
  -webkit-transition: 1s;
  transition: 1s;
}

.main__intro-content-down {
  text-align: center;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.main__intro-content-down:hover {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.main__intro-content-down:hover .main__intro-content-down-svg path {
  stroke: white;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 991px) {
  .main__intro-content {
    padding-top: 0;
  }
  .main__intro-content-down {
    display: none;
  }
  .main__intro-content-title {
    font-size: 40px;
    max-width: 600px;
    text-align: center;
  }
}

@media (max-width: 679px) {
  .main__intro-content-title {
    display: none;
  }
  .main__intro-content-title.mobile {
    display: block;
  }
  .main__intro-content-btn {
    padding-bottom: 30px;
  }
}

.main__cources {
  padding-top: 100px;
}

.main__cources-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #3E416D;
}

.main__cources-examples {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.main__cources-examples-block {
  background: #E7E7FF;
  border-radius: 10px;
  padding: 17px 25px;
}

.main__cources-examples-block-purple {
  width: 82px;
  height: 60px;
  background: #8482FF;
  border-radius: 10px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}

.main__cources-examples-block-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3E416D;
  opacity: 0.8;
}

@media (max-width: 854px) {
  .main__cources-examples {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 564px) {
  .main__cources-examples {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.main__advantages {
  padding: 150px 0;
}

.main__advantages-title {
  margin: 0 auto;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #3E416D;
  max-width: 477px;
  margin-bottom: 80px;
}

.main__advantages-examples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 47px;
}

.main__advantages-examples-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 56px;
  background: #FFFFFF;
  border: 2px solid rgba(62, 65, 109, 0.07);
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 7px 17px rgba(132, 130, 255, 0.1));
          filter: drop-shadow(0px 7px 17px rgba(132, 130, 255, 0.1));
}

.main__advantages-examples-block-title {
  max-width: 179px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #3E416D;
  padding-top: 18px;
  text-align: center;
}

.main__advantages-examples-block-line {
  width: 45px;
  height: 4px;
  background: #8482FF;
  margin: 15px 0 10px;
}

.main__advantages-examples-block-text {
  max-width: 256px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3E416D;
  opacity: 0.8;
  text-align: center;
}

@media (max-width: 854px) {
  .main__advantages-examples {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 564px) {
  .main__advantages-examples {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.main__price {
  background-color: #3E416D;
  background-image: url(../img/background-plus.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main__price-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 533px;
  padding-top: 67px;
}

.main__price-example {
  padding-top: 70px;
  display: grid;
  grid-template-columns: minmax(200px, 420px) minmax(200px, 420px);
  grid-template-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding-bottom: 60px;
  position: relative;
}

.main__price-example-man {
  position: absolute;
  bottom: 0;
  left: -110px;
}

.main__price-example-girl {
  position: absolute;
  right: -170px;
  top: -50px;
}

.main__price-example-start-top {
  background: #8482FF;
  border-radius: 10px 10px 0px 0px;
  padding: 30px 30px 23px 30px;
}

.main__price-example-start-top.pro {
  background: #FF9882;
}

.main__price-example-start-top-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 14px;
}

.main__price-example-start-top-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #D3D2FF;
  background-color: #6562DB;
  border-radius: 10px;
  padding: 10px 9px;
}

.main__price-example-start-top-name.pro {
  background-color: #D87B66;
  color: #FFDAD2;
}

.main__price-example-start-top-skill {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #A3A1FF;
  padding-top: 34px;
  padding-bottom: 5px;
  border-bottom: 6px solid #726FEC;
  position: relative;
}

.main__price-example-start-top-skill.pro {
  border-bottom: 6px solid #E9836D;
  color: #FFBEAF;
}

.main__price-example-start-top-skill.pro::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 6px;
  background: #FFBEAF;
  left: 0;
  bottom: -6px;
}

.main__price-example-start-top-skill::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 6px;
  background: #A3A2FF;
  left: 0;
  bottom: -6px;
}

.main__price-example-start-top-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.main__price-example-start-top-time-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__price-example-start-top-time-list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 6px;
}

.main__price-example-start-top-time-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__price-example-start-top-time-hours-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 6px;
}

.main__price-example-start-bottom {
  border-radius: 0px 0px 10px 10px;
  padding: 37px 30px 30px 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 7px 17px rgba(132, 130, 255, 0.29);
          box-shadow: 0px 7px 17px rgba(132, 130, 255, 0.29);
}

.main__price-example-start-bottom-text {
  max-width: 360px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #3E416D;
  opacity: 0.8;
  margin-bottom: 70px;
}

.main__price-example-start-bottom-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__price-example-start-bottom-price-count {
  font-weight: 700;
  font-size: 25px;
  line-height: 36px;
  color: #8482FF;
}

.main__price-example-start-bottom-price-count.pro {
  color: #FF9882;
}

.main__price-example-start-bottom-price-btn {
  background: #8482FF;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 10px 38px;
  border: none;
  cursor: pointer;
}

.main__price-example-start-bottom-price-btn:hover {
  background-color: #FF9882;
  -webkit-transition: 1s;
  transition: 1s;
}

.main__price-example-start-bottom-price-btn.pro {
  background-color: #FF9882;
}

.main__price-example-start-bottom-price-btn.pro:hover {
  background-color: #8482FF;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1540px) {
  .main__price-example-man, .main__price-example-girl {
    display: none;
  }
}

@media (max-width: 900px) {
  .main__price-example {
    grid-template-columns: minmax(200px, 420px);
    grid-template-rows: auto auto;
    row-gap: 30px;
  }
}

@media (max-width: 449px) {
  .main__price-example-start-top-skill.pro::after {
    width: 250px;
  }
  .main__price-example-start-bottom-price-count {
    font-size: 20px;
  }
}

.main__materials {
  padding-top: 100px;
  background-color: #3E416D;
}

.main__materials-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 60px;
}

.main__materials-examples {
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) 1fr minmax(100px, 200px) minmax(100px, 200px);
  grid-template-rows: 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__materials-examples-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__materials-examples-block:nth-child(4) {
  display: none;
}

.main__materials-examples-block-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 40px;
}

.main__materials-examples-block-pic {
  background: rgba(132, 130, 255, 0.23);
  border: 4px solid #8482FF;
  border-radius: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 10px;
}

.main__materials-examples-block-pic.grow {
  padding: 70px 46px;
  height: 100%;
  background: #8482FF;
  border-radius: 46px;
}

.main__materials-examples-block-pic-img {
  margin: auto;
}

.main__materials-examples-block-pic-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 54px;
}

.main__materials-examples-block-pic-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
  padding-top: 20px;
}

@media (max-width: 1050px) {
  .main__materials-examples {
    grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
    grid-template-rows: auto auto;
    row-gap: 40px;
  }
  .main__materials-examples-block:nth-child(3) {
    display: none;
  }
  .main__materials-examples-block:nth-child(4) {
    display: block;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}

@media (max-width: 786px) {
  .main__materials-examples {
    grid-template-columns: minmax(100px, 200px) minmax(100px, 200px) minmax(100px, 200px);
    grid-template-rows: auto auto;
  }
  .main__materials-examples-block:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 /2;
  }
  .main__materials-examples-block:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2 /3;
  }
  .main__materials-examples-block-pic-title {
    padding-top: 40px;
  }
  .main__materials-examples-block-pic-text {
    display: none;
  }
}

@media (max-width: 600px) {
  .main__materials-examples {
    grid-template-columns: minmax(100px, 250px);
    grid-template-rows: auto auto auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__materials-examples-block:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .main__materials-examples-block:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .main__materials-examples-block:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .main__materials-examples-block:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}

/*# sourceMappingURL=style.css.map */
